schema: schema.widl
generates:
  pkg/module/module.go:
    package: widl-codegen/language/tinygo
    visitorClass: ModuleVisitor
    config:
      package: module
  pkg/main.go:
    ifNotExists: true
    package: widl-codegen/language/tinygo
    visitorClass: ScaffoldVisitor
    config:
      import: {module}/pkg/module
      package: module